.top-content {
    height: 600px;
}

.spacer-content {
    height: 300px;
}

.image-content {
    height: 450px;
}

.parallax-viewport {
    background-color: #5995ca;
    background-image: url('../../image/City_skyline_2020.jpg');
    background-size: initial;
    background-position-x: center;
    background-repeat: no-repeat;
}

.parallax-viewport-2 {
    background-color: #9cae41;
    background-image: url('../../image/Amazon-river.jpg');
    background-size: initial;
    background-position-x: center;
    background-repeat: no-repeat;
}
