.top-content {
    height: 600px;
}

.content {
    height: 500px;
}

.parallax-viewport {
    background-image: url('../../image/City_skyline_2020.jpg');
    background-size: initial;
    background-position-x: center;
    background-repeat: no-repeat;
}
