.range-lock-button, .scales-button, .remove-button {
    cursor: pointer;
}

.range-lock-button img {
    width: 24px;
    height: 24px;
}

.scales-button img {
    width: 24px;
    height: 24px;
}

.remove-button {
    width: 42px;
    height: 46px;
    font-weight: bold;
    font-size: 1em;
    padding: 0;
}
