.autocomplete-container {
    position: relative;
}

.autocomplete-input-container {
    padding: 0 8px 0 8px;
    border: 1px solid #9AA0A6;
    border-radius: 12px;
    background-color: white;
}

.autocomplete-input-container > div {
    display: flex;
    flex-direction: row;
}

.autocomplete-input-container, .autocomplete-suggestions-container {
    width: 400px;
}

.autocomplete-input {
    width: 334px;
    padding: 12px 0 12px 0;
    font-size: 1em;
}

.autocomplete-input, .autocomplete-input:focus {
    border: none;
    outline: none;
}

.autocomplete-container-input-measure {
    margin: 0;
    padding: 0;
}

.autocomplete-suggestions-container {
    padding: 0 8px 12px 8px;
    border-bottom: 1px #dedede solid;
    border-right: 1px #dedede solid;
    border-left: 1px #dedede solid;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.autocomplete-suggestions-list {
    list-style: none;
    padding: 8px 0 0 0;
}

.autocomplete-suggestions-list ul {
}

.autocomplete-suggestions-list li {
    white-space: nowrap;
    font-size: 1em;
    padding: 2px;
}

.autocomplete-suggestions-list li:hover {
    background-color: #dddddd;
    cursor: pointer;
}
