body {
    font-family: sans-serif;
}
@media (max-width: 600px) {
    .site-header {
        flex-wrap: wrap;
    }
    .site-nav {
        order: 2;
        background: #333;
        width: 100%;
    }
}
.site-header {
    background: #0d1313;
    color: white;
    display: flex;
    align-items: center;
}
.logo {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px;
}
.site-nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.site-nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #cdd0d0;
    padding: 20px;
    display: inline-block;
}
.site-nav .active a {
    font-weight: bold;
    color: #62debe;
    background: #14604c;
}
.actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.actions a {
    color: white;
    font-size: 0.8rem;
}
.register-link {
}
.log-in-link {
    margin: 0 14px 0 14px;
}
