.shrinking-header {
    background-color: transparent;
    padding: 50px 10px;
    text-align: center;
    font-size: 90px;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.8s;
}

.shrunken-head {
    font-size: 30px;
}
