#scroll-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
}

.scroll-panel {
    position: relative;
    height: 100%;
    width: 100%;
}

#scroll-fixed {
    background: url("../image/ConeNebula_astrofalls.jpg") no-repeat;
    height: 96vh;
    background-size: 100% 100%;
    position: fixed;
    color: white;
    top: 0;
    left: 0;
}

#scroll-relative {
    top: 96vh;
    background-color: white;
}

#scroll-relative div {
    background-color: white;
}
