table {
    border-collapse: collapse;
}

th {
    background-color: #676767;
    color: white;
}

td {
    border-bottom: 1px solid #ddd;
}

td:not(:last-child) {
    border-left:1px solid #ccc;
    border-right: 1px solid #ccc;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.time-cell {
    text-align: right;
    padding-right: 12px;
    font-weight: bold;
}

.date-today {
    background-color: #2C5F2D;
    color: #FFE77A;
}
